<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

<header>
    <div class="cabecera">
        <img class="imgcabecera" src="/images/inicio/logo.png" alt="Algoritmos Preciosos">

        <div class="titulo">
            <h1>ALGORITMOS PRECIOSOS</h1>
            <p>Diseño con Diamantes. Lógica con Lujo</p>
        </div>
    </div>
</header>

<div class="admin-container">

    <button class="btn-logout" onclick="logout()">Cerrar sesión</button>

    <h2 class="admin-titulo">⚙️ Panel Administrador</h2>

    <!-- FORMULARIO -->
    <div class="admin-form" id="formulario-admin">
        <input id="nombre" placeholder="Nombre" class="input-admin">
        <input id="precio" placeholder="Precio" class="input-admin">
        <input type="file" id="imagen">
        <img id="preview-img" src="/images/default.png" style="width:120px; margin-top:10px;">
        <input id="categoria" placeholder="Categoria (anillos, cadenas...)" class="input-admin">
        <input id="descripcion" placeholder="Descripción" class="input-admin">

        <button class="btn-guardar" onclick="crearProducto()">Guardar Producto</button>
    </div>

    <!-- LISTA -->
    <div id="lista" class="admin-lista"></div>

</div>

<!-- SOLO ESTE SCRIPT -->
<script src="/js/admin.js"></script>

</body>
</html>