<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
   <header>
        <div class="cabecera">
            <img class="imgcabecera" src="/images/logo.png" alt="Algoritmos Preciosos">
            <div class="titulo">
                <h1>ALGORITMOS PRECIOSOS</h1>
                <p>Diseño con Diamantes. Lógica con Lujo</p>
                </div>
                  <div class="carrito-header">
    <a href="/carrito">
        <i class="fas fa-shopping-cart"></i>
        <span>Carrito</span>
        <span id="contador-carrito">0</span>
    </a>
</div>
                </div>
            <div class="w-header">
                <form class="xyz">
                    <input type="text" placeholder="Buscar....">
                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>

            <nav class="menu">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/anillos">Anillos</a></li>
                    <li><a href="/cadenas">Cadenas</a></li>
                    <li><a href="/dijes">Dijes</a></li>
                    <li><a href="/aretes">Aretes</a></li>
                    <li><a href="/pulseras">Pulseras</a></li>
                    <li><a href="/esmeraldas">Esmeraldas</a></li>
                </ul>
        </div>
        </div>
    </header>

    
<h2 class="titulo-carrito">🛒 Carrito de Compras</h2>

<div id="lista-carrito" class="carrito-container"></div>

<h3 id="total-carrito"></h3>

<script>
let carrito = JSON.parse(localStorage.getItem("carrito")) || [];

let contenedor = document.getElementById("lista-carrito");
let total = 0;

carrito.forEach((producto, index) => {
    total += parseInt(producto.precio);

    contenedor.innerHTML += `
        <div class="item-carrito">
            <img src="${producto.imagen}">
            <div>
                <p>${producto.nombre}</p>
                <p>$${producto.precio}</p>
            </div>
            <button onclick="eliminar(${index})">❌</button>
        </div>
    `;
});

document.getElementById("total-carrito").innerText = "Total: $" + total;

function eliminar(index){
    carrito.splice(index,1);
    localStorage.setItem("carrito", JSON.stringify(carrito));
    location.reload();
}
</script>